.banner{
    .banner__top{
        background: linear-gradient(to right, $color-purple, $color-red-0);
        height: 8px;
    }

    .banner__content{
        position: relative;
        background-color: $color-black-0;
        height: 360px;

        .banner__text{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            h3{
                @include styleText($color-white-0, $fs-3, $fw-bold-1);
                margin-bottom: $mg-1 + 6;
            }
            p{
                @include styleText($color-gray-5, $fs-0, $fw-normal);
                margin-bottom: $mg-2 -1;
            }

        }

        .banner__row{
            color: $color-white-0;
            width: 100%;
            margin: auto;
            a{
                display: flex;
                justify-content: center;
                @include styleText($color-white-0, $fs-4 - 8, $fw-normal);
                font-weight: 300;
            }
        }

        .banner__row1{
            padding-top: 48px;
            padding-bottom: 32px;
        }

        .banner__row2{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 65%;
        }

        .banner__row3{
            position: absolute;
            bottom: 32px;
            margin-top: 48px;
        }
    }
}

// reposive
.banner__content{
    @include reponsive('large'){
        .banner__row{
            display: none;
        }
    }
}