.categories__content {
    padding-top: 30px;
    width: 90%;
    margin: auto;
    h3 {
        @include styleText($color-black-0, $fs-3, $fw-bold-1);
    }

    .categories__row {
        .categories__item {
            padding: $pd-1 + 5;
            border: 1px solid #ffff;
            box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
            cursor: pointer;
            span {
                @include styleText($color-black-0, $fs-0, $fw-normal);
                display: flex;
                align-items: center;
                i {
                    font-size: $fs-4 - 8;
                    margin-right: 16px;
                }
            }
            &:hover{
                box-shadow: rgba(20, 23, 28, 0.15) 0px 2px 8px 2px;
            }
        }
    }
}

// reponsive 
.categories__content{
    @include reponsive('extra-large'){
        .categories__item{
            margin: $mg-1 0;
        }
    }
}

