
.commentAndPartners{
    background-color: $color-gray-5;
}
.comment__content{
    width: 90%;
    margin: auto;
    padding: 32px 0;
    h2{
        @include styleText($color-black-0, $fs-3, $fw-bold-1);
    }
    
    .comment__intro{
        margin-top: 20px;
        .comment__item{
            background-color: $color-white-0;
            height: 260px;
            padding: 32px;
            box-shadow: 0 1px 3px 0 rgba(20,23,28,.15);
            border-radius: 3px;
            .comment__name{
                display: flex;
                margin-bottom: 18px;
                img{
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;
                    margin-right: 18px;
                }
                span{
                    @include styleText($color-black-0, $fs-1 + 3, $fw-bold-1);
                    align-self: center;
                }
            }
            p{
                @include styleText($color-black-0, $fs-1 + 3, $fw-normal);

            }
        }
    }
}

.partners__trust{
    width: 80%;
    margin: auto;
    margin-bottom: 24px;
    text-align: center;
    h4{
        @include styleText($color-gray-4, $fs-1, $fw-normal);
        padding-top: 16px;
    }
    .partners__logo{
        padding-top: 32px;
        img{
            margin: 0 32px 8px;
        }
    }
}

.non__student{
    width: 100%;
    margin: auto;
    .non__student__content{
        display: flex;
        text-align: center;
        .non__student__instructor, .non__student__business{
            width: 50%;
            padding: 28px 30px;
            .detail{
                width: 60%;
                display: inline-block;
                text-align: center;
                h3{
                    @include styleText($color-black-light,$fs-2 - 1, $fw-bold-1);
                }
                p{
                    @include styleText($color-black-0, $fs-0 + 1, $fw-normal);
                    padding-top: 3px;
                }
            }
        }

        .non__student__instructor{
            border-right: 1px solid $color-gray-6;
        }


    }
}

// reponsive
.non__student{
    @include reponsive('large'){
        .non__student__content{
            .non__student__instructor, .non__student__business{
                padding: 15px 15px;
                .detail{
                    width: 100%;
                }
            }
        }
    }

    @media screen and (max-width:600px) {
        .non__student__content{
            display: block;
            text-align: center;
            .non__student__instructor, .non__student__business{
                border:none;
                width: 100%;
            }
        }
    }
}